<div class="container p-4">
  <div class="row">
    <div class="col-md-6" >
      <div class="card card-body">
        <form (submit)="submitLocation(cityName, unit)" >
          <input
            type="text"

            class="form-control"
            autofocus
            #cityName
          />

          <!-- <input
            type="text"
            placeholder="metric / imperial"
            class="form-control"
            #unit
          /> -->

          <select class="form-select" #unit >
            <option value="none" selected >Select a unit</option>
            <option value="metric" >Metric</option>
            <option value="imperial">Imperial</option>
          </select>

          <button class="btn btn-primary btn-block mt-2">Get Weather</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 p-3" *ngFor="let user of weather.list; index as i">
      <div *ngIf="weather" class="card card-body text-center">
        <h1 class="h4">Weather Information</h1>
        <p>City: {{ weather.list[i].name }}</p>
        <p>Country: {{ weather.list[i].sys.country }}</p>
        <p>Latitude: {{ weather.list[i].coord.lat }}</p>
        <p>Longitude: {{ weather.list[i].coord.lon }}</p>
        <p>Humidity: {{ weather.list[i].main.humidity }}</p>
        <p>Pressure: {{ weather.list[i].main.pressure }}</p>


        <p >Temperature: {{ weather.list[i].main.temp.toFixed(0)  }}  </p>
        <p *ngIf="unit.value === 'metric'; then thenBlock else elseBlock"></p><ng-template #thenBlock>Unit: °C</ng-template><ng-template #elseBlock>Unit: °F</ng-template>



        <p>Description: {{ weather.list[i].weather[0].description }}</p>
      </div>
    </div>
  </div>
</div>
